<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{base :: navBar}"></div>
<div class="row">
    <nav class="col-md-1 d-none d-md-block sidebar" style="padding-right: 0px;">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h5 bg-primary" style="color: #f8f9fa;"
                       th:if="${CurrentUser != null} and ${CurrentUser.rolesToString().contains('ADMIN')}"
                       href="/admin">Admin <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5"
                       th:if="${CurrentUser != null} and ${CurrentUser.rolesToString().contains('USER')}" href="/user">User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-11 jumbotron">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#list">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="list">
                <h3>All users:</h3>
                <table class="table">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Roles</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.getId()}">NULL</td>
                        <td th:text="${user.getUsername()}">NULL</td>
                        <td th:text="${user.getEmail()}">NULL</td>
                        <td th:text="${user.rolesToString()}">NULL</td>
                        <th><button type="button" class="btn btn-primary" data-toggle="modal" th:attrappend="data-target=${user.getUsername()}" data-target="#Edit">
                            Edit
                        </button></th>
                        <th>
                            <form th:method="POST" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                                <input type="submit" value="Delete">
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="newUser">
                <div class="py-5 text-center">
                    <h2>Creating new user</h2>
                </div>
                <div class="col-md-12 order-md-1">
                    <form class="needs-validation" novalidate th:method="POST" th:action="@{/admin}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="username">Username </label>
                                <div class="input-group">
                                    <input req type="text" class="form-control" name="userName" id="username"
                                           placeholder="Username" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email">Email </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="email" id="email"
                                           placeholder="email@example.com" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="password">Password </label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="password"
                                           placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="role">Role </label>
                                <select class="custom-select d-block w-100" id="role" name="selectedRoles" multiple
                                        required>
                                    <option th:each="role : ${BDroles}" th:text="${role.getName()}"
                                            th:value="${role.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Edit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:attrappend="username=${user.getUsername()}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 order-md-1">
                    <form class="needs-validation" novalidate th:method="POST" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="username">Username </label>
                                <div class="input-group">
                                    <input req type="text" class="form-control" name="userName" id="username" th:value="${user.getUsername()}"
                                           placeholder="Username" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email">Email </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="email" id="email"
                                           placeholder="email@example.com" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="password">Password </label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="password"
                                           placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="role">Role </label>
                                <select class="custom-select d-block w-100" id="role" name="selectedRoles" multiple
                                        required>
                                    <option th:each="role : ${BDroles}" th:text="${role.getName()}"
                                            th:value="${role.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Create</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary">Edit</input>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>