<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-2 mb-2 bg-dark border-bottom" th:fragment="navBar">
    <div class="my-0 mr-md-auto font-weight-normal" style="padding-left: 1.5%">
        <div class="row">
            <h5 class="p-2 text-white" th:text="${CurrentUser.getEmail()}"></h5>
            <h5 class="p-2 text-white">&nbsp;with roles:&nbsp;</h5>
            <h5 class="p-2 text-white" th:text=" ${CurrentUser.rolesToString()}"></h5>
        </div>
    </div>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-secondary" href="/logout">Logout</a>
    </nav>
</div>
</body>
</html>